* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#pantalla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background-image: url(./img/minecraft_wallpaper.webp); */
    background-size: cover;
}

.hippo{
    width: 20vh;
    height: 20vh;
    background-image: url(./img/hippo.png);
    /* background-image: url(./img/pingu.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
}

.contenidor{
    position: relative;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid black; */
}

/* .bola{
    width: 10vh;
    height: 10vh; 
    background-color: var(--colorBola);
    border-radius: 50%;
    position: absolute;
    border: 0.2vh solid black;
} */

#contador{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

#titol1, #titol2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
}

#titol1{
    font-size: 12vh;
}

#titol1{
    font-size:8vh;
}